<!doctype html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>API com MVC NODE</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <br/><br/><br/>
      <h2>API Para Exibir Bancos</h2>
      <br/>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">COMPRE</th>
            <th scope="col">ShortName</th>
            <th scope="col">Document</th>
            <th scope="col">Type</th>
            <th scope="col">Url</th>
          </tr>
        </thead>
        <tbody>
      <% if (login.length > 0) { %>
          <% for(var i = 0; i < login.length; i++) {%> 
            </tr>
              </h4><th scope="row"><%= login[i].COMPE %></th>
              <td><h4><%= login[i].ShortName %></td></h4>
              <td><%= login[i].Document %></td>
              <td><%= login[i].Type %></td>
              <td><%= login[i].Url %></td>
            </tr>
          <% } %>
        
      <% } %>
    </div>
  </body>
</html>